.link-project {
  text-decoration: none;
}
.project-container {
  padding: 1.1rem 1.8rem;
  width: clamp(25rem, 50vw, 43rem);

  height: 20rem;
  background-color: var(--dark-20);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-container > figure {
  max-width: 100%;
  height: 11rem;
  background-size: cover;
}

.project-container > h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.project-container > h4 {
  color: var(--dark-40);
  font-weight: 400;
  font-size: 1.1rem;
}

.projeto-um {
  background-image: url("../../assets/projects-img/app-dindin.svg");
}
.projeto-dois {
  background-image: url("../../assets/projects-img/player.png");
}
.projeto-tres {
  background-image: url("../../assets/projects-img/desafio-05.svg");
}

@media screen and (min-width: 1020px) {
  .project-container {
    /* border: 1px solid red; */
    cursor: pointer;
    padding: 1rem 1.5rem;

    min-width: 20vw;
    max-width: 22vw;

    /* width: clamp(20rem, 50vw, 36rem); */
    height: clamp(15rem, 50vw, 25rem);
  }

  .project-container > figure {
    max-width: 100%;
    height: 15rem;
  }

  .project-container > h3 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .project-container > h4 {
    color: var(--dark-40);
    font-weight: 400;
    font-size: 1.4rem;
  }
}
