.container-skils {
  display: flex;
  height: 26rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card-skill {
  height: 9rem;
  width: 9rem;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0.5rem;
}

.card-skill img {
  height: 5rem;
}

@media screen and (min-width: 1024px) {
  .container-skils {
    display: flex;
    height: 26rem;
    flex-flow: nowrap;
    justify-content: space-around;
  }
  .card-skill {
    height: 13rem;
    width: 13rem;
  }
  .card-skill > img {
    height: 8vh;
  }
}
