:root {
  --brand-color: #5b319aff;
  --brand-color-2: #5405cb;
  --brand-color-3: #6c00df;
  --dark-10: #0f0f0fff;
  --dark-20: #212121;
  --dark-30: #333333;
  --dark-40: #828282;
  --dark-50: #eae7e7;
  --white: #f9f9f9;
}
/* :root {
  --brand-color: rgb(79, 25, 118);
  --dark-10: #171717;
  --dark-20: #212121;
  --dark-30: #333333;
  --dark-40: #828282;
  --dark-50: #eae7e7;
  --white: #f9f9f9;

  --color: #c500df
} */

/* 
--rebecca-purple: #5b319aff;
--tekhelet: #483187ff;
--night: #0f0f0fff;
--slate-blue: #7259c3ff;
--tropical-indigo: #887bc8ff;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans";
}

body {
  background-color: var(--dark-10);
  /* display: flex; */
}

h2 {
  color: var(--white);
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}
.container {
  /* border: 1px solid red; */
  padding: 2.4rem;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 3rem 4rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 3rem 3rem;
    margin: 0 5rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2000px) {
  .container {
    padding: 5rem 20rem;
    margin: 0 5rem;
  }
}
