:root {
  --brand-color: #c500df;
  --dark-10: #171717;
  --dark-20: #212121;
  --dark-30: #333333;
  --dark-40: #828282;
  --dark-50: #eae7e7;
  --white: #f9f9f9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans";
}

body {
  background-color: var(--dark-10);
  display: flex;
}
.container {
  margin: 2.4rem;
  /* border: 1px solid red; */
}
