@import url("../../styles/global.css");
@media screen {
}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: 1.4rem;
  margin: 2rem auto;

  width: clamp(30rem, 90%, 76.7rem);
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: absolute;
  top: 0.2rem;
  background-color: #fff;
  width: 30rem;
  height: 30rem;
}

main {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apresetation-section {
  margin: 2rem auto 3rem auto;
  width: clamp(30rem, 90%, 76.7rem);
}

.apresetation-section img {
  display: none;
}

.apresetation-section h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
}

.apresetation-section h3 {
  color: var(--dark-40);
  font-size: 1.6rem;
  width: 25rem;
  text-align: center;
}

.container-title-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 25vh;
}

.container-title-btns div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: clamp(30rem, 55%, 76.7rem);
}

.container-title-btns div > button {
  width: clamp(10rem, 45%, 20rem);
  height: 3rem;
  font-family: "DM Sans";
  font-weight: 500;
  color: var(--white);
}

.download-cv-btn {
  background-color: var(--brand-color);
  border: none;
  font-size: 1.3rem;
}
.contact-btn {
  background-color: var(--dark-10);
  border: 0.697px solid #333;
  font-size: 1.3rem;
}

.contact-btn > a {
  text-decoration: none;
  color: var(--white);
}

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  width: clamp(30rem, 90%, 76.7rem);
}
.about-me-section h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
.about-me-section p {
  text-align: center;
  font-weight: 400;

  color: var(--dark-40);
  font-size: 1.4rem;
}

.container-projects {
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: clamp(30rem, 90%, 76.7rem);
}
.container-projects > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  height: 95vh;
  width: clamp(30rem, 50vw, 60rem);
}

.service-section {
  display: flex;
  flex-direction: column;
  min-height: 46rem;
  justify-content: space-evenly;
  align-items: center;
  width: clamp(30rem, 90%, 120rem);
}
.service-section > div {
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: clamp(30rem, 80%, 80rem);
}

.skill-section {
  display: flex;
  flex-direction: column;
  width: clamp(30rem, 70%, 76.8rem);
}

@media screen and (min-width: 1020px) {
  header {
    height: 4.2rem;
    min-width: 72vw;
    max-width: 90vw;
    /* width: clamp(100rem, 90%, 170rem); */
  }
  header > img {
    display: none;
  }

  .nav-desktop {
    display: block;
    min-width: 38vw;
    max-width: 70vw;
    /* width: clamp(30rem, 40%, 80rem); */
  }

  .nav-desktop ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    font-weight: 400;
  }
  .nav-desktop ul li {
    cursor: pointer;
  }

  .nav-desktop ul li > a {
    text-decoration: none;
    color: var(--white);
  }

  .nav-desktop ul li > a:hover {
    color: var(--dark-40);
  }

  main {
    margin: 0 auto;
  }

  .apresetation-section {
    width: 90%;
    height: 45vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .apresetation-section h1 {
    width: clamp(22rem, 60vw, 24rem);
    font-size: 3.6rem;
  }

  .apresetation-section h3 {
    font-size: 1.8rem;
    width: 25rem;
    text-align: left;
  }
  .container-title-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    height: 100%;
    width: 31vw;
  }

  .container-title-btns > div {
    display: flex;
    justify-content: space-between;
    width: clamp(30rem, 60vw, 34rem);
  }

  .container-title-btns div button {
    height: 4.2rem;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .download-cv-btn {
    width: 14.3rem;
    color: var(--white);
  }

  .contact-btn {
    width: 15.7rem;
  }

  .imagem {
    min-height: 24vw;
    max-height: 30vw;
    /* height: 95%; */
    min-width: 25vw;
    max-width: 30vw;
    /* width: 26%; */
    background-image: url("../../assets/game-dev-2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about-me-section {
    height: 70vh;
    width: 90%;
  }

  .about-me-section > p {
    font-size: 1.8rem;
    text-align: justify;
  }
  .container-projects {
    /* border: 1px solid red; */
    justify-content: center;

    height: 70vh;
    /* width: 90%; */

    min-width: 72vw;
    max-width: 90vw;
  }
  .container-projects > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 50vh;
  }

  .service-section {
    /* border: 1px solid red; */
    display: flex;
    height: 45rem;

    min-width: 72vw;
    max-width: 90vw;

    /* width: 90%; */
    justify-content: space-evenly;
  }

  .service-section > div {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    width: 100%;
  }

  .skill-section {
    min-height: 20vh;
    max-height: 25vh;
    width: 90%;
    /* border: 1px solid red; */
    min-width: 72vw;
    max-width: 90vw;
  }
}
