@import url("../../styles/global.css");
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  font-size: 1.4rem;
}
main {
  margin: 5.6rem auto;
  display: flex;
  flex-direction: column;
}

.apresetation-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 31.2rem;
  height: 14.1rem;
}

.apresetation-section h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
}

.apresetation-section h3 {
  color: var(--dark-40);
  font-size: 1.6rem;
  width: 19.8rem;
  text-align: center;
}

.teste1 {
  display: flex;
  justify-content: space-between;
  width: 31.2rem;
}

.apresetation-section div > button {
  width: 15rem;
  height: 3rem;
  font-family: "DM Sans";
  font-weight: 500;
}

.download-cv-btn {
  padding: 0.8rem 2.8rem;
  background-color: var(--brand-color);
  color: var(--dark-10);
  border: none;
  font-size: 1.2rem;
}
.contact-btn {
  padding: 0.836rem 1.2rem;
  background-color: var(--dark-10);
  color: var(--white);
  border: 0.697px solid #333;
  font-size: 0.9rem;
}

.about-me-section {
  height: 51.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about-me-section h1 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}
.about-me-section p {
  text-align: justify;
  color: var(--dark-40);
  font-size: 1.4rem;
}

.container-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70rem;
}

.service-section {
  display: flex;
  flex-direction: column;
  height: 39rem;
  justify-content: space-evenly;
}

.container-service {
  border-bottom: 0.3rem solid var(--brand-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 31.1rem;
  height: 14rem;
  background-color: var(--dark-20);
  gap: 0.8rem;
}

.container-service h3 {
  color: var(--dark-40);
}
.skill-section {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) and (max-width: 2000px) {
  header > img {
    display: none;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 400;
  }
  header nav ul li {
    cursor: pointer;
  }

  main {
    margin: 0;
  }

  .apresetation-section {
    /* border: 1px solid red; */
    width: 100%;
    height: 45vh;
  }

  .apresetation-section {
    /* border: 1px solid blue; */
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .apresetation-section h3 {
    width: 30rem;
  }
  .teste1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 20vh;
    width: 25vw;
    /* border: 1px solid green; */
  }

  .teste1 > div {
    display: flex;
    justify-content: space-between;
  }

  .teste1 div button {
    height: 4.2rem;
    font-size: 1.4rem;
  }

  .download-cv-btn {
    width: 14.3rem;
    color: var(--white);
  }

  .contact-btn {
    width: 15.7rem;
  }

  .teste-img {
    /* border: 1px solid magenta; */
    height: 28rem;
    width: 28rem;
    margin-right: 6rem;
  }

  .about-me-section > p {
    width: 65vw;
  }
  .container-projects {
    min-height: 50vh;
  }
  .container-projects > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .service-section > div {
    display: flex;
    justify-content: space-around;
  }

  .container-service {
    border-bottom: 0.3rem solid var(--brand-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 35rem;
    height: 24rem;
    background-color: var(--dark-20);
  }

  .container-service h3 {
    width: 12.6rem;
    color: var(--dark-40);
    font-size: 2.6rem;
    font-weight: 500;
  }
}

@media screen and (min-width: 1024px) {
  header > nav {
    min-width: 30vw;
    max-width: 50vw;
  }
}

@media screen and (min-width: 1280px) {
  header > nav {
    min-width: 30vw;
    max-width: 50vw;
  }

  .apresetation-section h1 {
    width: 20rem;
  }
}
@media screen and (min-width: 1440px) {
  header > nav {
    min-width: 30vw;
    max-width: 50vw;
  }
}
