.icons-divs {
  /* border: 1px solid red; */
  display: flex;
  height: 22rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.icons-divs > div {
  /* border: 1px solid red; */
  display: flex;
  width: 50%;
  height: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.circle-icon {
  display: flex;
  align-items: center;
  background-color: var(--dark-20);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.circle-icon img {
  margin: 0 auto;
  height: 3.5rem;
  width: 3.5rem;
}

.icons-divs div > h3 {
  color: var(--white);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}
.icons-divs div > h4 {
  color: var(--dark-40);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

/* @media screen and (min-width: 1024px) and (max-width: 1920px) {
  .icons-divs {
   
    width: 75vw;
    flex-wrap: nowrap;
  }

  .icons-divs > div {
    display: flex;
    height: 15vh;
    min-width: 14rem;
    justify-content: space-evenly;
  }

  .icons-divs div > h3 {
    font-size: 1.8rem;
  }
  .icons-divs div > h4 {
    font-size: 1.6rem;
  }
} */

/* @media screen and (min-width: 1280px) and (max-width: 1920px) {
  .icons-divs {
    display: flex;
    height: 22vh;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
  }

  .icons-divs > div {
    display: flex;
    height: 15vh;
    min-width: 14rem;
    justify-content: space-evenly;
  }

  .icons-divs div > h3 {
    font-size: 1.8rem;
  }
  .icons-divs div > h4 {
    font-size: 1.6rem;
  }
} */

@media screen and (min-width: 1020px) {
  .icons-divs {
    display: flex;
    flex-wrap: nowrap;
    height: 22vh;
    align-items: center;
    justify-content: space-between;
  }

  .icons-divs > div {
    display: flex;
    height: 19vh;
    min-width: 14rem;
    justify-content: space-evenly;
  }

  .icons-divs div > h3 {
    font-size: 1.8rem;
  }
  .icons-divs div > h4 {
    font-size: 1.6rem;
  }

  .circle-icon {
    width: 8.5rem;
    height: 8.5rem;
  }
  .circle-icon img {
    height: 5.8rem;
    width: 5.8rem;
  }
}

/* @media screen and (min-width: 1920px) and (max-width: 1920px) {
  .icons-divs div > h3 {
    font-size: 2rem;
  }
  .icons-divs div > h4 {
    font-size: 1.9rem;
  }

  .icons-divs {
    margin: 2rem 0;
  }
} */
